[submodule "vroughtime/vroughtime"]
	path = implementations/vroughtime/vroughtime
	url = https://github.com/oreparaz/vroughtime.git
[submodule "cloudflare/roughtime"]
	path = implementations/cloudflare/roughtime
	url = https://github.com/cloudflare/roughtime.git
[submodule "roughenough/roughenough"]
	path = implementations/roughenough/roughenough
	url = https://github.com/int08h/roughenough.git
[submodule "craggy/craggy"]
	path = implementations/craggy/craggy
	url = https://github.com/nahojkap/craggy.git
[submodule "pyroughtime/pyroughtime"]
	path = implementations/pyroughtime/pyroughtime
	url = https://github.com/dansarie/pyroughtime.git
[submodule "node-roughtime/node-roughtime"]
	path = implementations/node-roughtime/node-roughtime
	url = https://github.com/bnoordhuis/node-roughtime.git
[submodule "implementations/roughtimed/roughtimed"]
	path = implementations/roughtimed/roughtimed
	url = https://github.com/dansarie/roughtimed.git
[submodule "implementations/vararklockan/vadarklockan"]
	path = implementations/vararklockan/vadarklockan
	url = https://github.com/Netnod/vadarklockan.git
